legacy-peer-deps=true

registry=https://art.behsacorp.com/artifactory/api/npm/npm-virtual/

# proxy=http://127.0.0.1:1080/
# https-proxy=http://127.0.0.1:1080/

always-auth=true

sass_binary_site=https://npmmirror.com/mirrors/node-sass/
