<div>
  <h2 id="page-heading" data-cy="ResourceAuthorityHeading">
    <span jhiTranslate="npgPortalApp.resourceAuthority.home.title">Resource Authorities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="npgPortalApp.resourceAuthority.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resource-authority"
        [routerLink]="['/resource-authority/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="npgPortalApp.resourceAuthority.home.createLabel"> Create a new Resource Authority </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <div>
    <form name="searchForm" class="form-inline">
      <div class="input-group w-100 mb-3">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'npgPortalApp.resourceAuthority.search' | translate }}"
        />
        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
          <fa-icon [icon]="'search'"></fa-icon>
        </button>
        @if (currentSearch) {
        <button class="input-group-append btn btn-danger" (click)="clearSearch()">
          <fa-icon [icon]="'trash-alt'"></fa-icon>
        </button>
        }
      </div>
    </form>
  </div>

  @if (resourceAuthorities?.length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="npgPortalApp.resourceAuthority.home.notFound">No resourceAuthorities found</span>
  </div>
  } @if (resourceAuthorities && resourceAuthorities.length > 0) {
  <div class="table-responsive" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="verb">
            <span jhiTranslate="npgPortalApp.resourceAuthority.verb">Verb</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="authorityId">
            <span jhiTranslate="npgPortalApp.resourceAuthority.authorityId">Authority Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="resource.displayName">
            <span jhiTranslate="npgPortalApp.resourceAuthority.resource">Resource</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (resourceAuthority of resourceAuthorities; track trackId($index, resourceAuthority)) {
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/resource-authority', resourceAuthority.id, 'view']">{{ resourceAuthority.id }}</a>
          </td>
          <td jhiTranslate="{{ 'npgPortalApp.Verb.' + resourceAuthority.verb }}">{{ resourceAuthority.verb }}</td>
          <td>{{ resourceAuthority.authority?.displayName }}</td>
          <td>
            @if (resourceAuthority.resource) {
            <div>
              <a [routerLink]="['/resource', resourceAuthority.resource?.id, 'view']">{{ resourceAuthority.resource?.displayName }}</a>
            </div>
            }
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resource-authority', resourceAuthority.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
              <button
                *jhiHasPermission="['resourceAuthority', 'edit']"
                type="submit"
                [routerLink]="['/resource-authority', resourceAuthority.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
              <button
                *jhiHasPermission="['resourceAuthority', 'delete']"
                type="submit"
                (click)="delete(resourceAuthority)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if (resourceAuthorities && resourceAuthorities.length > 0) {
  <div>
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
  }
</div>
