<div class="row justify-content-center">
  <div class="col-8">
    @if (timeFrame) {
    <div>
      <h2 data-cy="timeFrameDetailsHeading"><span jhiTranslate="npgPortalApp.timeFrame.detail.title">Time Frame</span></h2>
      <hr />
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ timeFrame.id }}</span>
        </dd>
        <dt><span jhiTranslate="npgPortalApp.timeFrame.begin">Begin</span></dt>
        <dd>
          <span>{{ timeFrame.begin | num2time }}</span>
        </dd>
        <dt><span jhiTranslate="npgPortalApp.timeFrame.end">End</span></dt>
        <dd>
          <span>{{ timeFrame.end | num2time }}</span>
        </dd>
        <dt><span jhiTranslate="npgPortalApp.timeFrame.offDayId">Off Day Id</span></dt>
        <dd>
          <span>{{ timeFrame.offDayId }}</span>
        </dd>
      </dl>
      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
      <button type="button" [routerLink]="['/time-frame', timeFrame.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>
