<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <div>
        <h2 id="page-heading" data-cy="UndifinedStatusHeading" class="d-flex justify-content-between p-3 align-items-center">
          <span jhiTranslate="npgPortalApp.undifinedStatus.home.title">Undifined Statuses</span>

          <div>
            <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
              <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
            </button>

            <button
              id="jh-create-entity"
              data-cy="entityCreateButton"
              class="btn btn-primary jh-create-entity create-undifined-status"
              *jhiHasPermission="['undifinedStatus', 'create']"
              [routerLink]="['/undifined-status/new']"
            >
              <fa-icon icon="plus"></fa-icon>
            </button>
          </div>
        </h2>
      </div>
    </mat-card-title>
  </mat-card-header>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <mat-card-content>
    @if (undifinedStatuses?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="npgPortalApp.undifinedStatus.home.notFound">No undifinedStatuses found</span>
    </div>
    } @if (undifinedStatuses && undifinedStatuses.length > 0) {
    <div class="table-responsive" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="id">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="porStatus">
              <span jhiTranslate="npgPortalApp.undifinedStatus.porStatus">Por Status</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="porTechStatus">
              <span jhiTranslate="npgPortalApp.undifinedStatus.porTechStatus">Por Tech Status</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="porErrCode">
              <span jhiTranslate="npgPortalApp.undifinedStatus.porErrCode">Por Err Code</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="porRspCode">
              <span jhiTranslate="npgPortalApp.undifinedStatus.porRspCode">Por Rsp Code</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="porRequestId">
              <span jhiTranslate="npgPortalApp.undifinedStatus.porRequestId">Por Request Id</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="insertDate">
              <span jhiTranslate="npgPortalApp.undifinedStatus.insertDate">Insert Date</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (undifinedStatus of undifinedStatuses; track trackId($index, undifinedStatus)) {
          <tr data-cy="entityTable">
            <td>
              <a [routerLink]="['/undifined-status', undifinedStatus.id, 'view']">{{ undifinedStatus.id }}</a>
            </td>
            <td>{{ undifinedStatus.porStatus }}</td>
            <td>{{ undifinedStatus.porTechStatus }}</td>
            <td>{{ undifinedStatus.porErrCode }}</td>
            <td>{{ undifinedStatus.porRspCode }}</td>
            <td>{{ undifinedStatus.porRequestId }}</td>
            <td>{{ undifinedStatus.insertDate | formatMediumDatetime }}</td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/undifined-status', undifinedStatus.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>
                <button
                  type="submit"
                  [routerLink]="['/undifined-status', undifinedStatus.id, 'edit']"
                  *jhiHasPermission="['undifinedStatus', 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
                <button
                  type="submit"
                  (click)="delete(undifinedStatus)"
                  class="btn btn-danger btn-sm"
                  *jhiHasPermission="['undifinedStatus', 'delete']"
                  data-cy="entityDeleteButton"
                >
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @if (undifinedStatuses && undifinedStatuses.length > 0) {
    <div>
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
    }
  </mat-card-content>
</mat-card>
