<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-log-heading" data-cy="EventLogCreateUpdateHeading" jhiTranslate="npgPortalApp.eventLog.home.createOrEditLabel">
        Create or edit a Event Log
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.conversationId" for="field_conversationId"
            >Conversation Id</label
          >
          <input
            type="text"
            class="form-control"
            name="conversationId"
            id="field_conversationId"
            data-cy="conversationId"
            formControlName="conversationId"
          />
          @if ( editForm.get('conversationId')!.invalid && (editForm.get('conversationId')!.dirty ||
          editForm.get('conversationId')!.touched) ) {
          <div>
            @if (editForm.get('conversationId')?.errors?.maxlength) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
              This field cannot be longer than 50 characters.
            </small>
            }
          </div>
          }
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.sender" for="field_sender">Sender</label>
          <input type="text" class="form-control" name="sender" id="field_sender" data-cy="sender" formControlName="sender" />
          @if (editForm.get('sender')!.invalid && (editForm.get('sender')!.dirty || editForm.get('sender')!.touched)) {
          <div>
            @if (editForm.get('sender')?.errors?.maxlength) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
              This field cannot be longer than 50 characters.
            </small>
            }
          </div>
          }
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.receiver" for="field_receiver">Receiver</label>
          <input type="text" class="form-control" name="receiver" id="field_receiver" data-cy="receiver" formControlName="receiver" />
          @if (editForm.get('receiver')!.invalid && (editForm.get('receiver')!.dirty || editForm.get('receiver')!.touched)) {
          <div>
            @if (editForm.get('receiver')?.errors?.maxlength) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
              This field cannot be longer than 50 characters.
            </small>
            }
          </div>
          }
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.message" for="field_message">Message</label>
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
          @if (editForm.get('message')!.invalid && (editForm.get('message')!.dirty || editForm.get('message')!.touched)) {
          <div>
            @if (editForm.get('message')?.errors?.maxlength) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
              This field cannot be longer than 255 characters.
            </small>
            }
          </div>
          }
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.requestBody" for="field_requestBody">Request Body</label>
          <input
            type="text"
            class="form-control"
            name="requestBody"
            id="field_requestBody"
            data-cy="requestBody"
            formControlName="requestBody"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.responseBody" for="field_responseBody">Response Body</label>
          <input
            type="text"
            class="form-control"
            name="responseBody"
            id="field_responseBody"
            data-cy="responseBody"
            formControlName="responseBody"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.flg0Ordinary1Exception" for="field_flg0Ordinary1Exception"
            >Flg 0 Ordinary 1 Exception</label
          >
          <input
            type="number"
            class="form-control"
            name="flg0Ordinary1Exception"
            id="field_flg0Ordinary1Exception"
            data-cy="flg0Ordinary1Exception"
            formControlName="flg0Ordinary1Exception"
          />
          @if ( editForm.get('flg0Ordinary1Exception')!.invalid && (editForm.get('flg0Ordinary1Exception')!.dirty ||
          editForm.get('flg0Ordinary1Exception')!.touched) ) {
          <div>
            @if (editForm.get('flg0Ordinary1Exception')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required"> This field is required. </small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('flg0Ordinary1Exception')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
          }
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.eventSource" for="field_eventSource">Event Source</label>
          <input
            type="text"
            class="form-control"
            name="eventSource"
            id="field_eventSource"
            data-cy="eventSource"
            formControlName="eventSource"
          />
          @if (editForm.get('eventSource')!.invalid && (editForm.get('eventSource')!.dirty || editForm.get('eventSource')!.touched)) {
          <div>
            @if (editForm.get('eventSource')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required"> This field is required. </small>
            } @if (editForm.get('eventSource')?.errors?.maxlength) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
              This field cannot be longer than 255 characters.
            </small>
            }
          </div>
          }
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.exceptionBody" for="field_exceptionBody"
            >Exception Body</label
          >
          <input
            type="text"
            class="form-control"
            name="exceptionBody"
            id="field_exceptionBody"
            data-cy="exceptionBody"
            formControlName="exceptionBody"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.httpStatus" for="field_httpStatus">Http Status</label>
          <input
            type="text"
            class="form-control"
            name="httpStatus"
            id="field_httpStatus"
            data-cy="httpStatus"
            formControlName="httpStatus"
          />
          @if (editForm.get('httpStatus')!.invalid && (editForm.get('httpStatus')!.dirty || editForm.get('httpStatus')!.touched)) {
          <div>
            @if (editForm.get('httpStatus')?.errors?.maxlength) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
              This field cannot be longer than 50 characters.
            </small>
            }
          </div>
          }
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="npgPortalApp.eventLog.insertTimestamp" for="field_insertTimestamp"
            >Insert Timestamp</label
          >
          <div class="d-flex">
            <input
              id="field_insertTimestamp"
              data-cy="insertTimestamp"
              type="datetime-local"
              class="form-control"
              name="insertTimestamp"
              formControlName="insertTimestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if ( editForm.get('insertTimestamp')!.invalid && (editForm.get('insertTimestamp')!.dirty ||
          editForm.get('insertTimestamp')!.touched) ) {
          <div>
            @if (editForm.get('insertTimestamp')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required"> This field is required. </small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('insertTimestamp')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
