<div>
  <h2 id="page-heading" data-cy="ActionHeading">
    <span jhiTranslate="npgPortalApp.authority.home.title">Authorities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="npgPortalApp.authority.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        *jhiHasPermission="['authority', 'create']"
        class="btn btn-primary jh-create-entity create-action"
        [routerLink]="['/authority/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="npgPortalApp.authority.home.createLabel"> Create a new Authority </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <div>
    <form name="searchForm" class="form-inline mt-3">
      <div class="input-group w-100 mb-3">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'npgPortalApp.authority.search' | translate }}"
        />
        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
          <fa-icon [icon]="'search'"></fa-icon>
        </button>
        @if (currentSearch) {
        <button class="input-group-append btn btn-danger" (click)="clearSearch()">
          <fa-icon [icon]="'trash-alt'"></fa-icon>
        </button>
        }
      </div>
    </form>
  </div>
  @if (authorities?.length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="npgPortalApp.authority.home.notFound">No authorities found</span>
  </div>
  } @if (authorities && authorities.length > 0) {
  <div class="table-responsive" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="npgPortalApp.authority.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="displayName">
            <span jhiTranslate="npgPortalApp.authority.displayName">Display Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parentId">
            <span jhiTranslate="npgPortalApp.authority.parent">Parent</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (authority of authorities; track trackId($index, authority)) {
        <tr>
          <td>
            <a [routerLink]="['/authority', authority.id, 'view']">{{ authority.id }}</a>
          </td>
          <td>{{ authority.name }}</td>
          <td>{{ authority.displayName }}</td>
          <td>
            @if (authority.parentId) {
            <div>
              <a [routerLink]="['/authority', authority.parentId, 'view']">{{ authority.parentDisplayName }}</a>
            </div>
            }
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/authority', authority.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
              <button
                *jhiHasPermission="['authority', 'edit']"
                type="submit"
                [routerLink]="['/authority', authority.id, 'edit']"
                class="btn btn-primary btn-sm"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
              <button *jhiHasPermission="['authority', 'delete']" type="submit" (click)="delete(authority)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if (authorities && authorities.length > 0) {
  <div>
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
  }
</div>
