<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <div>
        <h2 id="page-heading" data-cy="SettingHeading" class="d-flex justify-content-between p-3 align-items-center">
          <span jhiTranslate="npgPortalApp.setting.home.title">Settings</span>

          <div>
            <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
              <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
            </button>

            <button
              id="jh-create-entity"
              data-cy="entityCreateButton"
              class="btn btn-primary jh-create-entity create-setting"
              [routerLink]="['/setting/new']"
            >
              <fa-icon icon="plus"></fa-icon>
            </button>
          </div>
        </h2>
      </div>
    </mat-card-title>
  </mat-card-header>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <mat-card-content>
    @if (isLoading) {
    <div class="alert alert-info" id="loading-result">
      <span>Loading…</span>
    </div>
    } @if (!isLoading && loadError) {
    <div class="alert alert-danger" id="load-error">
      <span>Failed to load data. If the Network tab shows HTTP 429, log out, log in again, and retry.</span>
    </div>
    } @if (!isLoading && !loadError && settings.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="npgPortalApp.setting.home.notFound">No settings found</span>
    </div>
    } @if (!isLoading && settings.length > 0) {
    <div class="table-responsive" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="id">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="name">
              <span jhiTranslate="npgPortalApp.setting.name">Name</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="key">
              <span jhiTranslate="npgPortalApp.setting.key">Key</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="value">
              <span jhiTranslate="npgPortalApp.setting.value">Value</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (setting of settings; track trackId($index, setting)) {
          <tr data-cy="entityTable">
            <td>
              <a [routerLink]="['/setting', setting.id, 'view']">{{ setting.id }}</a>
            </td>
            <td>{{ setting.name }}</td>
            <td>{{ setting.key }}</td>
            <td>{{ setting.value }}</td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/setting', setting.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>
                <button
                  *jhiHasPermission="['setting', 'edit']"
                  type="submit"
                  [routerLink]="['/setting', setting.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
                <button
                  *jhiHasPermission="['setting', 'delete']"
                  type="submit"
                  (click)="delete(setting)"
                  class="btn btn-danger btn-sm"
                  data-cy="entityDeleteButton"
                >
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @if (!isLoading && settings.length > 0) {
    <div>
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
    }
  </mat-card-content>
</mat-card>
