<div class="row justify-content-center">
  <div class="col-8">
    @if (resource) {
    <div>
      <h2 data-cy="resourceDetailsHeading"><span jhiTranslate="npgPortalApp.resource.detail.title">Resource</span></h2>
      <hr />
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ resource.id }}</span>
        </dd>
        <dt><span jhiTranslate="npgPortalApp.resource.name">Name</span></dt>
        <dd>
          <span>{{ resource.name }}</span>
        </dd>
        <dt><span jhiTranslate="npgPortalApp.resource.displayName">Display Name</span></dt>
        <dd>
          <span>{{ resource.displayName }}</span>
        </dd>
        <dt><span jhiTranslate="npgPortalApp.resource.apiUri">Api Uri</span></dt>
        <dd>
          <span>{{ resource.apiUri }}</span>
        </dd>
        <dt><span jhiTranslate="npgPortalApp.resource.resourceType">Resource Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'npgPortalApp.ResourceType.' + resource.resourceType }}">{{ resource.resourceType }}</span>
        </dd>
      </dl>
      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
      <button type="button" [routerLink]="['/resource', resource.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>
