<form name="form" role="form" (ngSubmit)="validateCaptcha()" [formGroup]="passwordForm" autocomplete="off">
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="entity.action.change.password">Change Password operation</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">
    @if (user) {
    <h2 jhiTranslate="password.title" [translateValues]="{ username: user.login }">
      Password for [<strong>{{ user.login }}</strong
      >]
    </h2>
    } @if (success) {
    <div class="alert alert-success" jhiTranslate="password.messages.success">
      <strong>Password changed!</strong>
    </div>
    }
    <div class="form-group">
      <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword.label">New password</label>
      <input
        type="password"
        autocomplete="off"
        class="form-control"
        id="newPassword"
        name="newPassword"
        formControlName="newPassword"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!^/\%*#?&])[a-zA-Z\d@$!^/\%*#?&]{12,}$"
      />
      @if ( passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)
      ) {
      <div>
        @if (passwordForm.get('newPassword')?.errors?.required) {
        <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.required">
          Your password is required.
        </small>
        } @if (passwordForm.get('newPassword')?.errors?.pattern) {
        <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.pattern">
          Your password must contains: one capital character, one small character, one digit, one special character
        </small>
        } @if (passwordForm.get('newPassword')?.errors?.maxlength) {
        <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.maxlength">
          Your password cannot be longer than 50 characters.
        </small>
        }
      </div>
      }
    </div>
    <div class="form-group">
      <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label"
        >New password confirmation</label
      >
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        name="confirmPassword"
        autocomplete="off"
        formControlName="confirmPassword"
      />
      @if ( passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.dirty ||
      passwordForm.get('confirmPassword')?.touched) ) {
      <div>
        @if (passwordForm.get('confirmPassword')?.errors?.required) {
        <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.required">
          Your confirmation password is required.
        </small>
        } @if (passwordForm.get('confirmPassword')?.errors?.minlength) {
        <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.minlength">
          Your confirmation password is required to be at least 4 characters.
        </small>
        } @if (passwordForm.get('confirmPassword')?.errors?.maxlength) {
        <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
          Your confirmation password cannot be longer than 50 characters.
        </small>
        }
      </div>
      }
    </div>
  </div>

  @if (doNotMatch) {
  <div class="alert alert-danger" jhiTranslate="global.messages.error.dontmatch">The password and its confirmation do not match!</div>
  }

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
      <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary d-flex justify-content-center align-items-center p-1">
      &nbsp;<span jhiTranslate="entity.action.change.password">Change Password</span>
    </button>
  </div>
</form>
