<div class="row justify-content-center">
  <div class="col-8">
    @if (offDay) {
    <div>
      <h2 data-cy="offDayDetailsHeading"><span jhiTranslate="npgPortalApp.offDay.detail.title">Off Day</span></h2>
      <hr />
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ offDay.id }}</span>
        </dd>
        <dt><span jhiTranslate="npgPortalApp.offDay.offDate">Off Date</span></dt>
        <dd>
          <span>{{ offDay.offDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="npgPortalApp.offDay.fullOff">Full Off</span></dt>
        <dd>
          <span>{{ offDay.fullOff }}</span>
        </dd>
      </dl>
      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
      <button type="button" [routerLink]="['/off-day', offDay.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>
