<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
</div>

<div class="modal-body">
  <jhi-alert-error></jhi-alert-error>

  <dl class="row-md jh-entity-details">
    <dt><span jhiTranslate="npgPortalApp.portability.porAccType">Por Acc Type</span></dt>
    <dd>
      <span>{{ portability?.porAccType }}</span>
    </dd>
    <dt><span jhiTranslate="npgPortalApp.portability.porIdNumber">Por Id Number</span></dt>
    <dd>
      <span>{{ portability?.porIdNumber }}</span>
    </dd>
    <dt><span jhiTranslate="npgPortalApp.portability.porContactNumber">Por Contact Number</span></dt>
    <dd>
      <span>{{ portability?.porContactNumber }}</span>
    </dd>
    <dt><span jhiTranslate="npgPortalApp.portability.porStatus">Por Status</span></dt>
    <dd>
      <span>{{ portability?.porStatus }}</span>
    </dd>
    <dt><span jhiTranslate="npgPortalApp.portability.porOpOrg">Por Op Org</span></dt>
    <dd>
      <span>{{ portability?.porOpOrg }}</span>
    </dd>
  </dl>

  @if (portabilityLogs?.length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="npgPortalApp.portabilityLog.home.notFound">No portabilityLogs found</span>
  </div>
  } @if (portabilityLogs && portabilityLogs.length > 0) {
  <div class="table-responsive" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort>
          <th scope="col" jhiSortBy="porStatus">
            <span jhiTranslate="npgPortalApp.portabilityLog.porStatus">Por Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <!--<th scope="col" jhiSortBy="porErrCode">
            <span jhiTranslate="npgPortalApp.portabilityLog.porErrCode">Por Err Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="porErrMessage">
            <span jhiTranslate="npgPortalApp.portabilityLog.porErrMessage">Por Err Message</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="porOpd">
            <span jhiTranslate="npgPortalApp.portabilityLog.porOpd">Por Opd</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="porNote">
            <span jhiTranslate="npgPortalApp.portabilityLog.porNote">Por Note</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="porDeadline">
            <span jhiTranslate="npgPortalApp.portabilityLog.porDeadline">Por Deadline</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="porResponseTimestamp">
            <span jhiTranslate="npgPortalApp.portabilityLog.porResponseTimestamp">Por Response Timestamp</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="porEligible">
            <span jhiTranslate="npgPortalApp.portabilityLog.porEligible">Por Eligible</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="porBillingOk">
            <span jhiTranslate="npgPortalApp.portabilityLog.porBillingOk">Por Billing Ok</span> <fa-icon icon="sort"></fa-icon>
          </th>-->
          <th scope="col" jhiSortBy="intermediaryActionState">
            <span jhiTranslate="npgPortalApp.portabilityLog.intermediaryActionState">Intermediary Action State</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="action">
            <span jhiTranslate="npgPortalApp.portabilityLog.action">Action</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="insertTimestamp">
            <span jhiTranslate="npgPortalApp.portabilityLog.insertTimestamp">Insert Timestamp</span> <fa-icon icon="sort"></fa-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (portabilityLog of portabilityLogs; track portabilityLog) {
        <tr data-cy="entityTable">
          <td>{{ portabilityLog.porStatus }}</td>
          <!--<td>{{ portabilityLog.porErrCode }}</td>
            <td>{{ portabilityLog.porErrMessage }}</td>
            <td>{{ portabilityLog.porOpd }}</td>
            <td>{{ portabilityLog.porNote }}</td>
            <td>{{ portabilityLog.porDeadline | formatMediumDatetime }}</td>
            <td>{{ portabilityLog.porResponseTimestamp }}</td>
            <td>{{ portabilityLog.porEligible }}</td>
            <td>{{ portabilityLog.porBillingOk }}</td>-->
          <td>{{ portabilityLog.intermediaryActionState }}</td>
          <td>{{ portabilityLog.action }}</td>
          <td>{{ portabilityLog.insertTimestamp | formatMediumDatetime }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
