$font-iran-sans: IRANSans;
$main-color-1: #f7b64b;
$main-color-2: #54c5d0;
$sub-color-1: #e85959;
$sub-color-2: #598ee8;
$sub-color-3: #555555;
$sub-color-4: #888686;
$sub-color-5: #b8b8b8;
$sub-color-6: #dbdbdb;
$sub-color-7: #e9e8e8;
$sub-color-8: #e8ab59;
